<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SSE Demo</title>
</head>
<body>

  <div hx-ext="sse" sse-connect="{{ url_for('sse', username=username) }}">
    <strong>Connected Clients</strong>
    <ul sse-swap="status_update">
    {% for client in clients %}
    {% if client.username != username %}
      <li id="status-{{ username }}">{{ client.username }}: {{ client.status }}</li>
    {% endif %}
    {% endfor %}
    </ul>

    <strong>Messages</strong>
    <ul sse-swap="new_message" hx-swap="beforeend">
    </ul>
    <form hx-put="{{ url_for('message', username=username) }}"
          hx-ext='json-enc'
          hx-swap='none'>
      <input type="text" name="message">
    </form>
  </div>

  <p id="status">Chatting as {{ username }}, Status: {{ status }}</p>
  <form hx-put="{{ url_for('update_status', username=username) }}"
        hx-ext='json-enc'
        hx-target="#status"
        hx-swap="innerHTML"
        hx-include="this"
        hx-trigger="change">
    <input type="radio" name="status" value="Online" checked>Online
    <input type="radio" name="status" value="Away">Away
    <input type="radio" name="status" value="Offline">Offline
  </form>

  <script src="{{ url_for('static', filename='htmx/htmx.js') }}"></script>
  <script src="{{ url_for('static', filename='htmx/ext/json-enc.js') }}"></script>
  <script src="{{ url_for('static', filename='htmx/ext/sse.js') }}"></script>
</body>
</html>
